<html>
    <head>

        </head>
    <body>
        <h1><%= title %></h1><br>
        Cert: <%= cert %><br>
        Release Date: <%= releaseDate %><br>
        Cast: <%= cast %><br>
        Director: <%= director %><br>
        Run Time: <%= runTime %><br> 
        Description: <%= description %><br>
        </body>
    </html>